/*
 *	Projekt do předmětu WAP
 *	Dynamická tabulka
 *	Autor: Bc. Jakub Stejskal
 *  Popis: Skript realizuje filtrování a řazení v libovolné html tabulce
*/

/* Hlavní zdroj - https://www.w3schools.com/howto/howto_js_filter_table.asp
 http://stackoverflow.com/questions/3248869/how-do-i-get-data-from-a-data-table-in-javascript */

/* styl pro vložené filtrovací formuláře */
.cell {
    background-position: 10px 12px;
    background-repeat: no-repeat;
	width: 60%;
    font-size: 14px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ddd;
    margin-bottom: 4px;
}

/* styl tabulky */
table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 18px;
}

/* styl td a th elementů*/
table th, table td {
    text-align: left;
    padding: 8px;
}

/* styl tr elementů*/
table tr {
    border-bottom: 2px solid #ddd; 
}

/* styly hlavičky */
table thead, table tr:hover {
    background-color: #f1f1f1;
}

table thead {
	border: 3px solid #ddd
}

/* šipky pro řazení */
.sortAsc:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after{
	content: "\25B4";
	cursor:pointer;
	width: 20%;
}

.sortDsc:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after{
	content: "\25BE";
	cursor:pointer;
	width: 20%;
}

/* FIreFox padding odstranění */
button::-moz-focus-inner {
    border:0;
    padding:0;
	width:5px;
}

/* zobrazení řazení a vyhledávání vedle sebe */
.sort{
	display:inline;
	padding: 5px;
	width: 80%;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
